html {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

body {
    text-align: center;
    height: 100%;
    width: 100%;
}

.flashing {
    pointer-events: none;
}

#game-wrapper {
    overflow-x: hidden;
    min-height: 100vh;
    background-image: linear-gradient(rgb(134, 77, 160), rgb(28, 19, 34));
    font-size: 22px;
}

#game-wrapper .score-container {
    margin-top: 20px;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.game-container, .btnContainer {
    position: relative;
    top: 2em;
}

/*----------- Boxes ---------------*/

.box-container {
    margin-top: 2em;
}

.box {
    width: 225px;
    height: 225px;
    display: inline-block;
    cursor: pointer;
}

.box1 {
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.7);
    margin: 20px;
}

.box1.active, .box1.active:hover {
    background-color: rgba(255, 0, 0, 0.7);
    box-sizing: border-box;
}

.box2 {
    background-color: rgba(0, 26, 255, 0.2);
    box-shadow: 0px 0px 10px 10px rgba(0, 26, 255, 0.7);
    margin: 20px;
}

.box2.active, .box2.active:hover {
    background-color: rgba(0, 26, 255, 0.7);
    box-sizing: border-box;
}

.box3 {
    background-color: rgba(251, 255, 0, 0.2);
    box-shadow: 0px 0px 10px 10px rgba(251, 255, 0, 0.7);
    margin: 20px;
}

.box3.active, .box3.active:hover {
    background-color: rgba(251, 255, 0, 0.7);
    box-sizing: border-box;
}

.box4 {
    background-color: rgba(9, 255, 0, 0.2);
    box-shadow: 0px 0px 10px 10px rgba(9, 255, 0, 0.7);
    margin: 20px;
}

.box4.active, .box4.active:hover {
    background-color: rgba(9, 255, 0, 0.7);
    box-sizing: border-box;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
}

.box:active {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.7);
}


/*----------- Buttons ---------------*/

.gameBtn a:hover {
    color: magenta;
    background-color:rgba(255, 255, 255, 0.1)
}

.btnContainer {
    margin: 6em 0;
}

/*----------- Game Over Popup ---------------*/

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-container {
    display: none;
    justify-content: center;
    position: fixed;
    margin: 0 auto;
    top: 10%;
    z-index: 9;
    padding: 10px;
    height: 60%;
    width: 70%;
    background: rgba(255, 255, 255, 0.3);
    font-size: 0.8em;
    color: black;
}

.game-over-container span {
    margin-top: 2em;
    line-height: 2em;
    font-size: 2em;
}

.game-over-container span h2 {
    font-size: 50px;
}

/*----------- Countdown ---------------*/

.countdown-container {
    display: none;
    justify-content: center;
    margin: 0 auto;
    top: 15%;
    position: fixed;
    width: 400px;
    height: 400px;
}

.countdown-container .countdown-text{
    font-size: 350px;
    color: black;
    text-align: center;
}

.box {
    width: 7em;
    height: 7em;
}

/*----------- Media Query ---------------*/

/* Smartphones */
@media screen and (max-width: 600px) {

    #game-wrapper {
        font-size: 22px;
    }

    .start-container {
        font-size: 1.4em;
    }

    .game-container, .btnContainer {
        top: 5em;
        position: relative;
    }

    .game-over-container {
        width: 90%;
        font-size: 1.5em;
    }

    .btnContainer {
        margin: 4em 0em;
    }
    
    .game-over-container span {
        line-height: 1.3em;
        font-size: 1em;
        top: 0;
        margin-top: 1em;
    }

    .game-over-container span h3 {
        font-size: 2.1em;
    }

    .playBtn {
        font-size: 1.4em;
    }

}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    #game-wrapper {
        font-size: 22px;
    }
    .game-container, .btnContainer {
        position: relative;
    }
    .game-over-container {
        height: 45%;
    }
}

/* Small Smartphones */
@media screen and (min-width: 200px) and (max-width: 500px) {
    #game-wrapper {
        font-size: 12px;
    }
    .box-container {
        top: 2em;
    }

    .game-btn {
        padding: 1em 1em;
        font-size: 1em;
        margin: 0 1em;

    }

}